[submodule "desafio01"]
	path = desafio01
	url = ./desafio01
[submodule "desafio02"]
	path = desafio02
	url = ./desafio02
[submodule "desafio03"]
	path = desafio03
	url = ./desafio03
[submodule "desafio04"]
	path = desafio04
	url = ./desafio04
[submodule "desafio05"]
	path = desafio05
	url = ./desafio05
